@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* General */
a.custom-link {
    color: #000000;
    font-size: clamp(.5rem, 5vw, 2rem); /* Min, preferred, and max font sizes */
    margin: 0 10px;
    text-decoration: none;
}

a.custom-link:hover,
a.custom-link:focus,
a.custom-link:active,
a.custom-link:visited {
  color: #000000;
}

body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 10vw;
}

/* Header */
header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    background-color: #0FABFF;
    height: 50px;
}

nav {
    display: flex;
}

/* Index Body */
.index-body {
    display: grid;
    min-height: 100vh;
    align-items: center;
}

.index-body h1 {
    align-self: flex-end;
}

.next-event {
    text-align: center;
    align-self: flex-start;
    font-size: 5vw;
}

/* Vehicles Body */
.vehicles-body {
    padding-top: 50px;
}

.vehicles-body h1 {
    text-align: center;
    font-size: 10vw;
}
.vehicles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 4vw;
}

.vehicle-photos {
    display: flex;
    flex-direction: column;
}

.vehicle-photos img {
    width: 100%;
    height: auto;
    border: .5vw solid #EA1C2D;
    box-sizing: border-box;
}

.vehicle-descriptions {
    display: flex; /* Use flexbox to center the text vertically */
    flex-direction: column; /* Stack the text elements vertically */
    font-size: 3.5vw;
}

.vehicle-descriptions p {
    display: flex;
    justify-content: center;
    align-items: center; /* Horizontally center the text */
    flex-grow: 1; /* Allow description to grow and take up equal space */
    flex-basis: 0;
    text-align: center;
    border: 10px solid transparent;
    box-sizing: border-box;
}

/* Past Events Body */
.pastevents-body h1 {
    align-self: flex-start;
    padding-top: 40px;
}

.pastevents-body {
    display: grid;
    min-height: 100vh;
}

.winter-2023 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.winter-2023-heading,
.winter-2023-description {
    grid-column: 2 / span 4;
    text-align: center;
    margin: 0 auto;
    font-size: 4vh;
}

.winter-2023-images {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border: .5vw solid #0FABFF
}

.winter-2023-images:nth-child(1) {
    grid-column: 0 / span 1; /* Position in the second column and span 1 column */
}

.winter-2023-images:nth-child(2) {
    grid-column: 1 / span 1; /* Position in the third column and span 1 column */
}

.winter-2023-images:nth-child(3) {
    grid-column: 2 / span 1; /* Position in the fourth column and span 1 column */
}

.winter-2023-images:nth-child(4) {
    grid-column: 3 / span 1; /* Position in the fifth column and span 1 column */
}

.winter-2023-images img {
    width: 100%;
    height: auto;
}

.winter-2023 .video {
    grid-column: 2 / 6;
    position: relative;
    margin: 2%;
    padding-bottom: 56.25%;
    overflow: hidden;
    align-items: center;
    border: .5vw solid #0FABFF
}

.winter-2023 .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* For when the screen shrinks */
@media (max-width: 768px) {
    .winter-2023 {
        grid-template-columns: repeat(1, 1fr); /* Change to a single column layout */
    }

    .winter-2023-heading,
    .winter-2023-description,
    .winter-2023-images,
    .winter-2023 .video {
        grid-column: 1 / span 1; /* Reset column placement */
    }

    .winter-2023-images:nth-child(1),
    .winter-2023-images:nth-child(2),
    .winter-2023-images:nth-child(3),
    .winter-2023-images:nth-child(4) {
        grid-row: auto; /* Reset the grid row for images */
        grid-column: 1 / span 1; /* Reset the grid column for images */
    }

    .winter-2023 .video {
        grid-row: auto; /* Reset the grid row for video */
    }
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) 4);
    align-items: center;
    justify-content: center;
    background-color: #0FABFF;
}

.footer-text {
    padding: 2%;
}

.Instagram {
    display: flex;
    justify-content: center;
}

.Instagram img {
    width: 100%;
    max-width: 50px;
    height: auto;
}